.navbar {
  background: linear-gradient(90deg, #0d0d0d, #1a1a1a, #262626);
  box-shadow: 0 3px 10px rgba(255, 165, 0, 0.3);
}

.navbar-brand {
  font-weight: bold;
  color: orange !important;
}

.nav-link {
  color: #fff !important;
  transition: 0.3s;
}

.nav-link.active,
.nav-link:hover {
  color: orange !important;
  border-bottom: 2px solid orange;
}
